.InputForm {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CardDetails {
  border: 1px solid #2c20ab;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
